cache/
.replxx_history
resources/\[SCRIPTS\]/save-load/characters/
resources/\[SCRIPTS\]/save-load/characters/6d8da3535d9cfdbbaf58ec6de6c31b7c60c82dfd.json
resources/\[SCRIPTS\]/save-load/characters/6d8da3535d9cfdbbaf58ec6de6c31b7c60c82dfd.json
.replxx_history
